@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0a192f;
  /* color: #8892b0; */
  color: #ccd6f6;
}
/* #aboutme::after {
  content: "";
  display: block;
  position: relative;
  width: 100px;
  background-color: white;
  height: 1px;
} */
/* #heading {
  margin: 10% 30% 1px;
} */
.skillsContainer {
  display: flex;
  justify-content: center;
}
.aboutContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2.5rem;
}
@media screen and (max-width: 1500px) {
  .skillsContainer {
    display: grid;
    justify-content: center;
  }
}